In [2]:
## strings
s = 'hello world'

In [3]:
print (s)

hello world

In [4]:
## indexing
print(s[0])
print(s[1:])
print(s[:3]) ## : grab everything, "to"
print(s[:-1])
print(s[::2]) ## step size, every other letter
print(s[::-1]) ## backwards

h
ello world
hel
hello worl
hlowrd
dlrow olleh

In [5]:
s = s + 'concatenate me'
s

'hello worldconcatenate me'

In [6]:
l = 'zz'
l*10

'zzzzzzzzzzzzzzzzzzzz'

In [7]:
h = 'hello'
h.upper()
h.split('e')

['h', 'llo']

In [8]:
x = 123
print ('place my variable here: %s'%(x))

place my variable here: 123

In [9]:
print ('floating number: %1.2f'%(13.145)) ## keep how many decimals
print ('floating number: %25.2f'%(13.145)) ## 25 whitespaces

floating number: 13.14
floating number:                     13.14

In [10]:
print ('first: %s, second: %s, third: %s'%('hi','two',3))

first: hi, second: two, third: 3

In [12]:
print ('first: %s, second: %s'%(2,3))

first: 2, second: 3

In [13]:
print ('first: {x}, second: {x}'.format(x='inserted'))

first: inserted, second: inserted

In [14]:
print ('first: {x}, second: {x}, third: {y}'.format(x='inserted', y = 'two')) ### more pythonistic

first: inserted, second: inserted, third: two

In [30]:
my_list = ['string',2,1.2]
len(my_list)
my_list[0]
my_list[1:]
my_list[:3]
my_list = my_list + ['new']
my_list.append('append me!')
my_list.pop(0) ## return last element and pop out last one
my_list

[2, 1.2, 'new', 'append me!']

In [38]:
new_list = ['a','b','c','d','e']
new_list.reverse()
new_list.sort()
new_list

['a', 'b', 'c', 'd', 'e']

In [44]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]

matrix = [l1,l2,l3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [45]:
matrix[2][0]

7

In [49]:
first_col = [row[0] for row in matrix]
first_col

[1, 4, 7]

In [61]:
my_dict = {'key1': 'v1','key2': 123} ### no index, no order
my_dict['key1']
my_dict.keys()
my_dict.values()
my_dict.items() # tuples

dict_items([('key1', 'v1'), ('key2', 123)])

In [58]:
d = {}
d['animal'] = 'Dog'
d = {'k1':{'nestkey':{'subnestkey':'value'}}}
d['k1']['nestkey']['subnestkey'].upper()

'VALUE'

In [65]:
l = [1,2,3] # list
t = (1,2,3) # tuple, can index, slicing, cannot change 
t.index(2)
t.count(1) # how many times 1 appear

1

In [77]:
f = open('test.txt')
f.read()
f.read() ## read once, need to reset the pointer to read again
f.seek(0) ## send back to the begining of the file
f.readlines()

for line in open('test.txt'):
    print (line)

this is a test file

this is a test file

this is a test file

this is a test file

In [84]:
x = set()
x.add(1)
x.add(2)
l = [1,1,1,1,2,3,3,4,5,6]
set(l) ## set only contains unique values in list

{1, 2, 3, 4, 5, 6}

In [87]:
1 < 2 and 2 < 3
1 > 2 or 2 < 3

True

In [88]:
2<3>10

False

In [3]:
l = [(2,4), (6,8), (10,12)]
for (t1,t2) in l:
    print (t1)
for (t1,t2) in l:
    print (t1+t2)

2
6
10
6
14
22

In [7]:
d = {'k1':1,'k2':2}
for k in d:
    print(k) #only keys 
for k,v in d.items():
    print(k,v)

k1
k2
k1 1
k2 2

In [19]:
# break continus pass
# pass do anything
for i in range(0,10,2):
    print (i)

0
2
4
6
8

range

In [20]:
# list comprehensions
l = []
for letter in 'word':
    l.append(letter)
print (l)

['w', 'o', 'r', 'd']

In [22]:
l = [letter for letter in 'word']
l

['w', 'o', 'r', 'd']

In [24]:
lst = [x**2 for x in range(0,11)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
lst = [number for number in range(11) if number % 2 == 0]
lst

[0, 2, 4, 6, 8, 10]

In [27]:
lst = [x**2 for x in [x**2 for x in range(0,11)]] ## x**4
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [29]:
#function
def my_addition_func(arg1, arg2):
    """
    Here is my docstring
    """
    print (arg1+arg2)
help(my_addition_func)

Help on function my_addition_func in module __main__:

my_addition_func(arg1, arg2)
    Here is my docstring

In [3]:
# lambda, simple function
def square(num): num**2
square2 = lambda num:num**2
square(2)
square2(2)

4

In [5]:
first = lambda s: s[0]
first('one')

'o'

In [8]:
# global
x = 50
def func():
    global x 
    print ('using global x')
    print ('global x is:', x)
    x = 2 ## global x changed to 2
    print ('global x is:', x)
print (x)
func()
print (x)

50
using global x
global x is: 50
global x is: 2
2