In [26]:
# class
class Dog(object):
    
    # class object arrtibute
    species = 'mammal'
    
    def __init__(self,breed,name,fur = True):
        self.breed = breed
        self.name = name
        self.fur = fur

In [27]:
sam = Dog(breed = 'Huskie', name = 'foldie', fur = False)

In [28]:
sam.breed
sam.species
sam.name
sam.fur

False

In [40]:
# method
class Circle(object):
    # class object attribute
    pi = 3.14
    
    def __init__(self, radius=1):
        self.radius = radius
    
    def area(self):
        return (self.radius**2) * Circle.pi
    
    def set_radius(self, new_radius):
        """
        this method takes in a radius, and reset the current radius of the Circle
        """
        self.radius = new_radius
    def set_radius(self, new_radius):
        """
        this method gets the current radius
        """
        return self.radius

In [41]:
c = Circle(radius = 100)

In [42]:
c.area()

31400.0

In [43]:
c.set_radius(20)

100

In [44]:
# inhertance
class Animal(object):
    
    def __init__(self):
        print("animal created")
    def whoAmI(self):
        print("animal")
    def eat(self):
        print("eating")
        
class Dog(Animal):
    
    def __init__(self):
        Animal.__init__(self)
        print ("dog created")
    
    def whoAmI(self):
        print("Dog")
    
    def bark(self):
        print("woof!")

In [45]:
d = Dog()

animal created
dog created

In [46]:
d.whoAmI()

Dog

In [48]:
d.eat()

eating

In [60]:
class Book(object):
    
    def __init__(self,title):
        
        print("a book has been created")
        self.title = title 
        
    def __str__(self):
        
        return "Title: %s" %(self.title)

In [61]:
b = Book('aaa')

a book has been created

In [62]:
print (b)

Title: aaa

In [71]:
# map: map a list to a function
temp = [0,22.5,40,100]

In [74]:
map(lambda T: (9.0/5)*T + 32, temp)

In [77]:
#reduce
from functools import reduce
lst = [1,2,3,4]
reduce(lambda x,y: x+y, lst ) # ((1+2)+3)+4

10

In [82]:
#fliter pass, T/F
lst = list(range(0,10))
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
list(filter(lambda num: num%2 == 0,lst))

[0, 2, 4, 6, 8]

In [87]:
#zip
x = [1,2,3]
y = [4,5,6]
list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

In [90]:
list(map(lambda pair: max(pair), zip(x,y)))

[4, 5, 6]

In [92]:
l = ['a','b','c']
for count, item in enumerate(l):
    print (count)
    print (item)

0
a
1
b
2
c

In [93]:
# all, any
l = [True, True, False]
any(l) ### "or"

True

In [94]:
all(l) ### all the same "and"

False

In [95]:
# complex
complex(2,3)

(2+3j)

In [96]:
# iterator
def fibon(n):
    a = 1
    b =1
    
    output = []
    
    for i in range(n):
        output.append(a)
        a,b = b, a+b
    return output

In [97]:
fibon(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [98]:
# counter
from collections import Counter

l = [1,1,1,2,2,2,3,4,4,5,6]
Counter(l)

Counter({1: 3, 2: 3, 3: 1, 4: 2, 5: 1, 6: 1})

In [100]:
# OrderedDict()
from collections import OrderedDict
d1 = OrderedDict()
d1['a'] = 1
d1['b'] = 2

d2 = OrderedDict()
d2['b'] = 1
d2['a'] = 2

print (d1==d2)

False

In [1]:
import pdb
#pdb.set_trace() ## set a tracer for debugger
import timeit

In [2]:
# regex
import re
pattern = ['term1','term2']
text = 'this is string with term1, not other term'

# search for pattern
re.search('hello', 'hello world')